@model IEnumerable<pokusoblog2.Models.Article>

@{
    ViewData["Title"] = "Index";
}
<div class="container">



<h1 class="text-center py-2">List of articles</h1>

<p class="text-center my-5">
    <a asp-action="Create" class="btn btn-lg btn-success">Create New</a>
</p>
<table class="table table-responsive table-striped">
    <thead class="text-center h5">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                <span>Title image</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr >
            <td >
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.Raw(item.Content)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td class="text-center">
                 <img src="@item.ImagePath" class="img-fluid" style="height:75px;">
            </td>
            <td>
                     <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                     <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                     <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


</div>